[submodule "firmware/step400_OSCtester/step400_OSCtester/LocalLibraries/powerSTEP01_Arduino_Library"]
	path = firmware/step400_OSCtester/step400_OSCtester/LocalLibraries/powerSTEP01_Arduino_Library
	url = https://github.com/niimi/powerSTEP01_Arduino_Library.git
	branch = master
